<ion-header translucent>
    <ion-toolbar color="primary">
        <ion-title>
            Muhamad Bagus Santoso
        </ion-title>
        <span><ion-button color="danger" (click)="logout()">Logout</ion-button></span>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div id="container">
        <strong>Selamat datang, {{email}}</strong>

        <ion-grid fixed>
            <ion-row>
                <ion-col size="6"></ion-col>
                <ion-col size="6"></ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>